.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.btn{
  margin-top: 10px;
  height: 40px;
  background-size:20px;
  font-size: 20px;
  width: 60px;
  background-color: #222;
  color: aliceblue;
}
.input{
  margin-top: 10px;
  height:20px;
  color: black;
}